@using sample.Models
@model Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>

    <!-- Including these three files will allow MVC to validate the Model's properties without need for postback -->
    <script type="text/javascript" src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    
</head>
<body>
    <div> 
        <!-- Html.BeginForm() is similar to the <form> tag, but allows us to dynamically adjust form variables. -->
        @using(Html.BeginForm())
        {
            <table>
                <tr>
                    <!-- Html.LabelFor / EditorFor / ValidationMessageFor is the MVC way to build 
                        form elements without having to worry about specific input types.  Very handy.
                        -->
                    <td>@Html.LabelFor(m => m.Email)</td>
                    <td>@Html.EditorFor(m => m.Email)</td>
                    <td>@Html.ValidationMessageFor(m => m.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Username)</td>
                    <td>@Html.EditorFor(m => m.Username)</td>
                    <td>@Html.ValidationMessageFor(m => m.Username)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Password)</td>
                    <td>@Html.EditorFor(m => m.Password)</td>
                    <td>@Html.ValidationMessageFor(m => m.Password)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.First)</td>
                    <td>@Html.EditorFor(m => m.First)</td>
                    <td>@Html.ValidationMessageFor(m => m.First)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Last)</td>
                    <td>@Html.EditorFor(m => m.Last)</td>
                    <td>@Html.ValidationMessageFor(m => m.Last)</td>
                </tr>
                <tr>
                    <td>
                        <select name="Totema">
                            <option>Monkey</option>
                            <option>Squirrel</option>
                        </select>
                    </td>
                </tr>
               
            </table>
            <input type="submit" value="Create User" />
        }
    </div>
</body>
</html>
