@using sample.Models
@model AllClasses
@{
    /*
     * @model List<Person> is telling Razor to expect a List of People to be passed in as the
     * file's model (Accessible elsewhere through "Model").
     * */
    
    //We haven't gotten to layout pages yet, but when we do, we'll need to change this.
    //For now, just set to NULL.
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Home - @Model.User.Username</title>
</head>
<body style="margin:0px; background-color:#e9ebff;">




    <!-- NAV BAR -->
    <div class="ontop" style="width:100%; height: 125px; position : fixed; background-color:#0094ff; border-bottom:solid 1px;">
        <!-- Friend Requests -->
        <div style="position: fixed; right:0%; margin-top:5px; text-align:left; width:125px; height:150px; font-size: 20px;">
                @Html.ActionLink("HOME", "Home", new { pid = @Model.User.Id, page = @Model.User.Id })<br />
                <span id="friends"><span> Friends   (0)</span></span><br />
                <span id="pending"><span> Pending   (0)</span></span><br />
                <span id="requests"><span> Request   (0)</span></span><br />
                @Html.ActionLink("LOGOUT", "Logon")
        </div>

        <!-- Username -->
        <div style="position: fixed; font-size: 50px; margin-left: 45%; text-align: center; margin-top: 27px;">
            <b><i>
                @Model.User.Username
            </i></b>
        </div>
        <!-- Nav Stats -->
        <table>
            <td>
                <img src="@Model.User.image" style="width:110px; height:110px; margin-left:7.5px; margin-top:7.5px;">
            </td>
            <td style="vertical-align:bottom;">
                <span style="margin-bottom:15px;">STR: @Model.User.Str</span><br>
                <span style="margin-bottom:15px;">VIT: @Model.User.Vit</span><br>
                <span style="margin-bottom:15px;">INT: @Model.User.Int</span>
            </td>
        </table>
    </div>





    <!-- Main Picture -->
@foreach (Person p in Model.UserList)
{
    if (p.Id == Model.CurrentPage)
    {
        <div style=" padding-bottom:20px; background-color:#c8d6ff">
            <div style="margin-left:30%;">
                <table border="0">
                    <td>
                        <img src="@p.image" style="width:400px; height:400px; margin-left:10px; margin-top:180px;">
                    </td>
                    <td style="white-space:nowrap; vertical-align: bottom;">
                        @if (p.Id == Model.User.Id)
                        {
                        <div style="white-space: nowrap; margin-left: 10px; margin-bottom: 210px;">
                            <span style="font-size: 40px; margin-bottom: 15px;">Username: @p.Username</span><br />
                            <span style="font-size: 30px; margin-bottom: 5px;">Name: @p.First @p.Last</span><br>
                            <span style="font-size: 30px; margin-bottom: 5px;">Email: @p.Email</span><br>
                        </div>
                        }else
                        {
                        <div style="white-space: nowrap; margin-left: 10px; margin-bottom: 230px;">
                            <span style="font-size: 40px; margin-bottom: 15px;">Username: @p.Username</span><br />
                            <span style="font-size: 30px; margin-bottom: 5px;">Name: @p.First @p.Last</span><br>
                            <span style="font-size: 30px; margin-bottom: 5px;">Email: @p.Email</span><br>
                        </div>
                            
                        }


                        <div style="white-space: nowrap; margin-left: 10px;">
                            <span style="font-size: 20px; ">STR  (@p.Str)</span><br>
                            <span style="font-size: 20px; ">VIT  (@p.Vit)</span><br>
                            <span style="font-size: 20px; ">INT  (@p.Int)</span><br>

                            @if (p.Id == Model.User.Id)
                            {
                                @Html.ActionLink("Raise Stats", "StatForm1", new { style = "font-size:20px;", cp = Model.User.Id })
                            }

                        </div>
                            <!--<input type="button" value="Raise Stats" style="text-align: center; width: 100px;" /><br />-->
                            
                            <!--<input type="button" value="Edit" style="text-align: center; width: 100px;" /><br />-->
                        
                    </td>
                </table>
            </div>
        </div>
    }
}




    <!-- Blog Post -->
    <div align="center" style="padding-top:50px;">
        @using (Html.BeginForm("BlogCreate1", "Home", new { id = @Model.User.Id, pageID = @Model.CurrentPage }))
        {
            @Html.TextAreaFor(m => m.NewBlog.Text, new { style = "width: 35%; height:50px;" })
            <input type="submit" value="Post" style=" width:70px;" />
        }
    </div>

    @foreach (Blog b in Model.BlogList.OrderByDescending(m => m.Date).ToList())
    {
        if (b.HPage == Model.CurrentPage)
        {
            <div align="center" style="padding-top:25px;">
                <table border="1" style="width:40%;">
                    <tr>
                        <td>
                            <div style=" text-align: left; background-color: #ffffff">

                                <b>@b.AuthorName</b>
                                <span style="float:right; font-size:9px;">@b.Date</span>
                                <br />
                                <span style="word-wrap:break-word; width:50%;">@b.Text</span><br />
                               @if (b.AuthorID == Model.User.Id || b.HPage == Model.User.Id)
                                {
                                    using (Html.BeginForm("BlogDelete1", "Home", new { id = @Model.User.Id, pageID = @Model.CurrentPage, blogID = b.Id }))
                                    {
                                        <div align="right"><input type="submit" value="Delete" /></div>
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        }

        foreach (Comment c in Model.CommentList)
        {
            if (c.BlogID == b.Id && b.HPage == Model.CurrentPage)
            {
                <div align="right" style="padding-top:5px;">
                    <table border="1" style="width:30%; margin-right:30%;">
                            <tr>
                                <td>
                                    <div style=" text-align: left; background-color: #d0ebf8">

                                        <b>@c.AuthorName</b>
                                        <span style="float:right; font-size:9px;">@c.Date</span>
                                        <br />
                                        <span style="word-wrap:break-word; width:50%;">@c.Text</span><br />
                                        @if (c.UserID == Model.User.Id || b.HPage == Model.User.Id)
                                        {
                                            using (Html.BeginForm("CommentDelete1", "Home", new { id = @Model.User.Id, pageID = @Model.CurrentPage, ComID = c.Id }))
                                            {
                                                <div align="right"><input type="submit" value="Delete" /></div>
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                    </table>
             </div>
             }
        }
        
       

        if (b.HPage == Model.CurrentPage)
        {
            <div align="right" style="padding-top:10px; padding-left:30px; margin-right:30%;">
                @using (Html.BeginForm("CommentCreate1", "Home", new { id = @Model.User.Id, pageID = @Model.CurrentPage, blogID = b.Id }))
                {
                    @Html.TextAreaFor(n => n.NewComment.Text, new { style = "width: 35%; height:55px;" })
                    <input type="submit" value="Comment" />
                }
            </div>
        }
    }




    <!-- Chat Stuff-->
    <table border="0" style="position: fixed; bottom: 0.1%; right: 0%; text-align:left;">
        <tr>

            <!-- Chat Windows -->
            @foreach (ChatInstance I in Model.InstanceList)
            {
                if (I.IsActive == true)
                {
                    <td valign="bottom">
                        <div id="@I.Id" style="overflow:hidden; width: 300px; height: 400px; background-color: #3b3636;">
                            <div onclick="Shift('@I.Id')" style="margin-left:10px; margin-top:10px; width:280px; height:40px; background-color:#808080;">
                                <!-- Person Name -->
                                <span style=" margin-top:10px; margin-left : 83px; font-size: 20px;">
                                    <b>
                                        @if (@Model.User.Id == I.User1ID)
                                        {@I.User2}
                                        else
                                        {@I.User1}
                                    </b>
                                </span>
                                <span style="float: right; margin-top: 7px; margin-right: 5px;">@Html.ActionLink("Hide", "CloseChatInstance", new { pid = @Model.User.Id, sh = @Model.CurrentPage, Iid = I.Id })</span>
                            </div>
                            <!--Message Container Area-->
                            <div id="@I.Id@I.Id@I.Id" style="overflow:auto; margin-top: 10px; margin-left: 10px; width: 280px; height: 310px; background-color: #808080; ">

                            </div>
                            <!-- Text Area & Send-->
                            <input onkeypress="if(event.keyCode==13) {SendMessage('@I.Id', '@I.User1')}" type="text" id="@I.User1@I.Id" style="margin-left:10px; margin-top:5px; width:220px;" />
                            <input type="submit" onclick="SendMessage('@I.Id','@I.User1')" value="Send" />

                        </div>
                    </td>
                }
            }

            <!-- Friends Window -->
            <td valign="bottom">
                <div id="FriendWindow" style="overflow:hidden; width: 250px; height: 400px; background-color: #3b3636;">
                    <div onclick="Shift('FriendWindow')" style="margin-left:10px; margin-top:10px; width:230px; height:40px; background-color:#808080;">
                        <span style="position: absolute; margin-top:5px; margin-left : 83px; font-size: 20px;"><b>Friends</b></span>
                    </div>
                    <!--Friends Generate Area-->
                    <div style=" overflow:auto; margin-top: 10px; margin-left: 10px; width: 230px; height: 310px; background-color: #808080; ">
                        <div id="Friends">

                        </div>
                        <div id="Requests">

                        </div>
                    </div>
                        <input onkeypress="if (event.keyCode == 13) { AddFriend() }" id="AddFriendTxt" type="text" style="margin-left: 10px; margin-top: 5px; width: 180px;" />
                        <input onclick="AddFriend()" type="submit" value="Add" />
                </div>
            </td>
        </tr>
    </table>

    



    <script type="text/javascript">


        // Send Chat Message
        function SendMessage(frm, usr) {
            var txt = String("" + usr + "" + frm);
            //alert(txt);
            var fw = document.getElementById(txt).value;
            var Info = String("" + frm + ";" + '@Model.User.Id' + ";" + fw);

            $.post(
                '/Home/SendMessageTest',
                Info,
                String(frm)
                );

            document.getElementById(txt).value("");
        }



        // Add Friend
        function AddFriend() {
            var str;
            var fw = document.getElementById("AddFriendTxt").value;
            var Info = String("" + '@Model.User.Id' + ";" + fw);

            $.post(
                '/Home/AddFriendTest',
                Info,
                function (data) {
                    var index;

                    if (data.length > 0) {
                        for (index in data) {
                            if (data[index] == false) { alert("User Not Found =(");}
                        }
                    }
                });

            document.getElementById("AddFriendTxt").value("");
        }




        // MoveTo
        function MoveTo(ID)
        {

            alert(ID);
            var str;
            var Info = String("" + '@Model.User.Id' + ";" + ID);

            $.post(
                '/Home/MoveTo',
                Info,
                function (data) {});
            location.reload(false);
        }





        var FwMaxHeight = 400;
        var FwMinHeight = 60;
        var UpControl = 0;
        var DownControl = 0;
        var MessagesControl = setInterval(function () { GetFriends(); }, 250);
        var RequestControl = setInterval(function () { GetFriendRequest(); }, 250);
        var RequestCount = 0;
        var Requests = 0;
        var Pending = 0;
        var FriendCount = 0;
        var MessageCount = new Array(10);







        // Window Shift Graphics
        function Shift(window) {


            var fw = document.getElementById(window);

            // Determine Shift Direction
            if (fw.style.height == FwMaxHeight + "px") { DownControl = setInterval(function () { ShiftDown(window); }, 15); }
            else if (fw.style.height == FwMinHeight + "px") { UpControl = setInterval(function () { ShiftUp(window); }, 15); }
            else { clearInterval(DownControl); UpControl = setInterval(function () { ShiftUp(window); }, 15); }
        }

        function ShiftDown(window) {
            var fw = document.getElementById(window);

            var x = fw.style.height;
            x = x.replace("px", "");
            x -= 5;
            fw.style.height = x + "px";

            if (x == FwMinHeight) { clearInterval(DownControl); }

        }

        function ShiftUp(window) {
            var fw = document.getElementById(window);

            var x = fw.style.height;
            x = x.replace("px", "");
            x = +x; //cast as int
            x += 5;
            fw.style.height = x + "px";

            if (x == FwMaxHeight) { clearInterval(UpControl); }
        }




        // Accept Friend Request
        function AcceptFriendRequest(frID) {
            var info = String("" + frID);
            $.post(
                '/Home/AcceptFriendRequest',
                info,
                 function (data) {
                 });

        }



        // Refresh Functions
        $(document).ready(function () {
            // Get a refresh going for each chat instance

            for (x = 0; x < parseInt(@Model.InstanceList.Count) ; x++) {
                for (y = 1; y < 20; y++) {
                    try {
                        var fw = document.getElementById(y);
                        var tst = fw.style.height;
                        fw.style.height = fw.style.height;
                        //alert(Instances[y]);
                        //alert("y = "+y);
                        SetRefresh(y);
                    } catch (err) { }
                }
            }
        });


        function SetRefresh(val) {
            setInterval(function () { Refresh(val); }, 250);
        }



        // Chat Refresh
        function Refresh(Iid) {
            var ID = String("#" + Iid + "" + Iid + "" + Iid);
            //alert(" ID = ("+ID+")");
            $.post(
                '/Home/GetMessages',
                String(Iid),
                function (data) {
                    var index;

                    // Get the Instance message count
                    var i = 0;
                    //for (z = 0; z < 10; z++) { if (MessageCount[z][0] == Iid) { i = z; } }

                    if (data.length > 0) {// && data.length != MessageCount[i][1]) {
                        //MessageCount[i][1] = 0;
                        $(ID).html("");
                        for (index in data) {

                            // Scroll to bottom
                            var cont = String("#" + Iid + "" + Iid + "" + Iid);
                            $(cont).animate({ scrollTop: $(cont).prop("scrollHeight") }, 0);

                            if (data[index].AuthorUsername == '@Model.User.Username') {
                                $(ID).html(
                                    $(ID).html() + "<div style=' background-color: #0026ff; margin-top:5px; '><span><b><i>" + data[index].AuthorUsername + "</i></b></span><span style='float:right; font-size:9px;'>" + data[index].Date + "</span><br>" + data[index].Text + "</div>"
                                    )
                            } else {
                                $(ID).html(
                                    $(ID).html() + "<div style=' background-color: #ff0000; margin-top:5px; '><span><b><i>" + data[index].AuthorUsername + "</i></b></span><span style='float:right; font-size:9px;'>" + data[index].Date + "</span><br>" + data[index].Text + "</div>"
                                    )
                            }
                        }
                    }
                });

            

        }



        // Get any new friend requests
        function GetFriendRequest() {
            var ID = String("#Requests");
            //alert(" ID = ("+ID+")");
            $.post(
                '/Home/GetFriendRequest',
                '@Model.User.Id',
                function (data) {
                    var index;

                    if (data.length != RequestCount) {

                        $(ID).html("");
                        RequestCount = 0;
                        Pending = 0;
                        Requests = 0;

                        for (index in data) {
                            RequestCount += 1;
                            if (data[index].FriendID == '@Model.User.Id') {
                                Pending += 1;
                                $(ID).html(
                                $(ID).html() +
                                "<div style=' background-color: #ff6a00; margin-top:5px; '><span><b><i> " + data[index].UserUsername + "</i></b> (Request)</span><input type='submit' value='Accept' onclick='AcceptFriendRequest(" + data[index].Id + ")' style='margin-top: 0px; margin-bottom:0px; float: right;' /></div>"
                                )
                            } else if (data[index].UserUsername == '@Model.User.Username') {
                                Requests += 1;
                                $(ID).html(
                                $(ID).html() + "<div style=' background-color: #00ff21; margin-top:5px; '><span><b><i> " + data[index].FriendUsername + "</i></b> (Pending)</span></div>"
                                )
                            }

                            $("#requests").html("<span> Request   (" + Pending + ")</span>")
                            $("#pending").html("<span> Pending   (" + Requests + ")</span>")
                        }
                        //RefreshFriendsList();
                    }
                });

        }








        // Refresh Friends List
        function GetFriends() {

            $.post(
                '/Home/GetFriends',
                '@Model.User.Id',
                function (data) {
                    var index;
                    
                    // Friend Count
                    $("#friends").html("<span> Friends   (" + FriendCount + ")</span>")

                    if (data.length != FriendCount) {

                        $("#Friends").html("");
                        FriendCount = 0;

                        for (index in data) {
                            FriendCount += 1;

                            if (data[index].FriendID == '@Model.User.Id') {

                                var txt1 = "<span style='margin-left:5px; margin-top:10px; display:inline-block;'>";
                                var txt3 = "</span><form style=' float: right;'  method='post' action='" + '@Url.Action("MoveTo", "Home", new { PID = "X1", FID = "X2" })' + "'><input type='submit' value='Home' style='margin-top: 8px; margin-bottom:0px; float: right;' /></form><br />";

                                var x1 = data[index].UserUsername;
                                var x2 = +data[index].FriendID;
                                var x5 = +'@Model.CurrentPage';
                                var x3 = data[index].UserID;
                                var x4 = data[index].UserUsername;
                                var txt2 = '@Html.ActionLink("X1", "CreateChat", new {pid = "X2", sh = "X5", fid = "X3", fname = "X4" })'
                                txt2 = txt2.replace("X1", x1);
                                txt2 = txt2.replace("X2", x2);
                                txt2 = txt2.replace("X5", x5);
                                txt2 = txt2.replace("X3", x3);
                                txt2 = txt2.replace("X4", x4);

                                txt3 = txt3.replace("X1", x2);
                                txt3 = txt3.replace("X2", x3);
                                $("#Friends").html($("#Friends").html() + txt1 + txt2 + txt3);


                            } else if (data[index].UserID == '@Model.User.Id') {

                                var txt1 = "<span style='margin-left:5px; margin-top:10px; display:inline-block;'>";
                                var txt3 = "</span><form style=' float: right;'  method='post' action='" + '@Url.Action("MoveTo", "Home", new { PID = "X1", FID = "X2" })' + "'><input type='submit' value='Home' style='margin-top: 8px; margin-bottom:0px; float: right;' /></form><br />";

                                var x1 = data[index].FriendUsername;
                                var x2 = +data[index].UserID;
                                var x5 = +'@Model.CurrentPage';
                                var x3 = data[index].FriendID;
                                var x4 = data[index].FriendUsername;
                                var txt2 = '@Html.ActionLink("X1", "CreateChat", new {pid = "X2", sh = "X5", fid = "X3", fname = "X4" })'
                                txt2 = txt2.replace("X1", x1);
                                txt2 = txt2.replace("X2", x2);
                                txt2 = txt2.replace("X5", x5);
                                txt2 = txt2.replace("X3", x3);
                                txt2 = txt2.replace("X4", x4);

                                txt3 = txt3.replace("X1", x2);
                                txt3 = txt3.replace("X2", x3);
                                $("#Friends").html($("#Friends").html() + txt1 + txt2 + txt3);

                            }
                        }
                        //RefreshFriendsList();
                    }
                });

        }

    </script>





</body>
</html>
