@using sample.Models
@model List<Person>
@{
    /*
     * @model List<Person> is telling Razor to expect a List of People to be passed in as the
     * file's model (Accessible elsewhere through "Model").
     * */
    
    //We haven't gotten to layout pages yet, but when we do, we'll need to change this.
    //For now, just set to NULL.
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <!-- Html.ActionLink is the MVC equivalent of <a href="..."></a>  
            -->

        @Html.ActionLink("Create new person", "Create")
        <table border="1">
            <tr>
                <th></th>
                <th>Email Address   </th>
                <th>First Name   </th>
                <th>Last Name   </th>
                <th>Password   </th>
                <th>Can Write Articles   </th>
                <th>Is Admin   </th>
                <th>ID</th>
            </tr>
         
            <!-- Loop through our List of People and create a new TR for each item -->
            @foreach(Person person in Model)
            {
                <tr>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = person.Id })</td>

                    <!-- Using the @@ tag will inject the object's value into HTML -->
                    <td>@person.Email</td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Password</td>
                    <td>@person.CanWriteArticles</td>
                    <td>@person.IsAdmin</td>
                    <td>@person.Id</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = person.Id })</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
