@using sample.Models
@model Person
@{
    /*
     * @model List<Person> is telling Razor to expect a List of People to be passed in as the
     * file's model (Accessible elsewhere through "Model").
     * */
    
    //We haven't gotten to layout pages yet, but when we do, we'll need to change this.
    //For now, just set to NULL.
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <script type="text/javascript" src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>



    





      @Html.ValidationSummary(true)

    <div align="center" style="margin-top:25%;">
        <table border="1" >
            <tr>
                <td>
                    <div style=" width:400px; text-align:left;  background-color:#b5b5b5">

                        @using (Html.BeginForm())
                        {
                            <table>
                                <tr>
                                    <td>@Html.LabelFor(m => m.Email)</td>
                                    <td>@Html.TextBoxFor(m => m.Email, new { style="width:320px;" })</td>
                                    <td>@Html.ValidationMessageFor(m => m.Email)</td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(m => m.Password)</td>
                                    <td>@Html.EditorFor(m => m.Password, new { style = "width:320px;" })</td>
                                    <td>@Html.ValidationMessageFor(m => m.Password)</td>
                                </tr>
                                <tr>
                                    <td><input type="submit" value="Log In" /></td>
                                    <td><span style="float:right;">@Html.ActionLink("Create New Account", "Create")</span></td>
                                </tr>
                            </table>
                        }

                    </div>
                </td>
            </tr>
        </table>
    </div>







        <!-- Html.ActionLink is the MVC equivalent of <a href="..."></a>  -->
      


 
</body>
</html>
